/***************************
*	
*	Main Scss
*	Edited by Joseph Chang
* 
****************************/

@import "compass/reset";
@import "compass";

.test1 {
	color: #dfdfdf;
	font-size: 40px;
	border: 3px solid #000;
}
