/***************************
*	
*	Main Style
*	Edited by Joseph Chang
* 
****************************/

// -------------------------------------
//  CSS Reset
// -------------------------------------

	@import "compass/reset";
	@import "compass";

// -------------------------------------
//  Breakpoint
// -------------------------------------
	
	@import "breakpoint";

// -------------------------------------
//  Main  style
// -------------------------------------

.test1 {
	color: #dadada;
	font-size: 24px;
	border: 1px solid #000;
	background-color: rgba(51, 51, 51, 0.4);
}
